.White{
    color: white!important;
}

.buttonAside{
max-width: 120px
}

.dropdown-menu{
    min-width: 8rem!important;
}

#navbarDropdownMenuLink{
    margin-left: 90%!important;
}

#navbarSupportedContent{
    padding-left: 40px!important;
}

.bg-dark{
    background-color:#3A6073!important;
}